on: 
  pull_request: 
    branches: master
  push:
    branches: master

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    name: Spellcheck
    steps:
      - uses: actions/checkout@v3
      - uses: tbroadley/spellchecker-cli-action@v1
        with:
          dictionaries: "dictionary.txt"
